<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="520px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <app-sidebar
      (classClicked)="onClassClicked($event)"
      [isCollapsed]="isCollapsed">

    </app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <app-class-details [selectedXMLClass]="selectedXMLClass" >
        </app-class-details>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
